{% extends "netflix_app/base.html" %}
{% block content %}
<div class="container mt-5">
  {% if error %}
    <p class="text-danger">{{ error }}</p>
  {% else %}
    <h2>{{ pelicula.title }}</h2>
    <hr>

    <ul class="list-group">
      {% for key, value in pelicula.items %}
        <li class="list-group-item"><strong>{{ key|title }}:</strong> {{ value }}</li>
      {% endfor %}
    </ul>

    <hr>
    <h4>Películas similares</h4>
    {% if recomendaciones %}
      <ul>
        {% for r in recomendaciones %}
          <li>{{ r.titulo }} ({{ r.similitud }}%)</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No hay recomendaciones disponibles.</p>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
