{% extends "netflix_app/base.html" %}
{% block title %}Lista de Películas{% endblock %}
{% block content %}
<h2>Películas disponibles</h2>

<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%; color: #fff; background-color: #333; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);">
    <thead style="background-color: #e84d13;">
    <tr>
      {% for col in peliculas.columns %}
        <th>{{ col }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for row in peliculas %}
    <tr>
      {% for col, value in row.items %}
        {% if col == 'title' or col == 'titulo' %}
          <td>
            <a href="{% url 'netflix_app:detalle_pelicula' row.index %}" 
               style="color:#ff4500; font-weight:bold; text-decoration:none;">
              {{ value }}
            </a>
          </td>
        {% else %}
          <td>{{ value }}</td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
