{% extends "netflix_app/base.html" %}
{% block content %}
<div class="container mt-4">
  <h2>Catálogo de Películas</h2>
  <div class="row mt-4">
    {% for p in peliculas %}
    <div class="col-md-3 mb-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body text-center">
          <h6 class="card-title">{{ p.title }}</h6>
          <a href="{% url 'netflix_app:lista_peliculas'%}" class="btn btn-outline-primary btn-sm mt-2">Ver detalles</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
